
.form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    
    font-size: large;
    font-weight: 800;
    color:#1d1160;
    background-color: antiquewhite;
    width:600px;
    margin-left: 350px;
    border: #800080;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px #800080 ;
    
}
#back{
    width:100%;
    height:50px;

}
.headback{
    color: white;

}

body{
    background-image:url('360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#head{
    font-family: 'irish Grover';
    display: flex;
    align-items: center;
    justify-content: center;
   
    color:#800080;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  
}
#userName{
    margin-left: 40px;

}
#dateOfBirth{
    margin-left: 35px;
}
#gender{
    margin-left: 110px;
}
#purpose{
    margin-left: 5px;
}
#password{
    margin-left: 45px;
}
#cpassword{
    margin-left: 15px;
}
#btn{
    background-color: #800080;
    color: white;
    margin-left: 140px;
    margin-top: 10px;
    border:2px solid  #800080;
    border-radius: 4px;
    width:100px;
    height:40px;
    cursor: pointer;
}